openai
langchain-openai 
chromadb 
python-dotenv
langchain-cerebras
langchain_huggingface
langchain
guardrails-ai
smolagents
langchain_community
wikipedia
google-genai
ddgs
pypdf
playwright
unstructured
faiss-cpu
gradio
sentence-transformers